.loader {
    padding: 24px;
    margin: 25px;
}

.app-footer {
    background: #f7fafc !important;
    padding: 0 !important;
    text-align: center;
}

.app-header {
    display: table;
    width: 100%;
}

.app-layout {
    display: flex;
}

.ant-menu-item {
    position: relative;
}

.logo {
    float: left;
    display: flex;
}

.logo img {
    height: 60px;
    margin-right: 20px;
}
